.MuiBox-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  height: 90vh;
}

.button-box {
  margin: 10px;
}

/* .MuiButtonBase-root.MuiButton-root {
  width: 190px;
  border-radius: 24px;
} */
